# Environment (dev or prod)
ENVIRONMENT=dev

# Logging
LOG_LEVEL=INFO
DEBUG_PROMPT=false

# App
PROJECT_NAME="Your Project Name"
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=

# LLM
CUSTOM_BASE_URL=
CUSTOM_CHAT_URL=
CUSTOM_EMBEDDINGS_URL=
CUSTOM_RERANK_URL=
EMBEDDING_ENABLED=false
CUSTOM_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=

# Agent Config
# See: core/config/agent_model_settings.py
MAX_MESSAGE_TOKEN_SIZE=
SEARCH_MAX_RESULTS=

# Supabase - Local Development
SUPABASE_SCHEMA=
SUPABASE_API_URL=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_JWT_PUBLIC_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Langfuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
